body{
    background-color:#61122f;
    color:#fff;
    font-size:16px;
}
#header-nav{
    background-color:#f6b319;
    border-radius: 0;
    border:0;
}
.navbar-brand{
    padding-top:25px;
    float: left;
}
.dropdown{
    margin-right: 52px;
    float: right;
    clear: both;
}
. navbar-brand h1
{
    font-family:lora;
        color:#557c3e;
    font-weight:bold;
    font-size:1.5em;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
#nav-list{
    text-decoration: none;
}
.col-md-12 .col-xs-12{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;   
}