#navbar-brand{
    background-color:chartreuse;
    font:sanserif;
    font-size: .8em;
    width:90%;
    margin-left: 10px;
    margin-right: 10px;
}
navbar-header>h1{
color:whitesmoke;
}
navbar-header section{
    align-content:left;
}
#row span{
    margin: 20px 10px 20px;
    padding: 50px 50px;
    margin-top:200px;
    text-align:center;
}
#dropdown{
    float: right;
}